#landing{
    height: 100%;
    background-image: url('https://github.com/StanStanley512/MediaQueryResponsive/blob/master/castle.JPG?raw=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};

 @media screen and (max-width: 980px) {
    #landing{
    height: 100%;
    background-image: url('https://github.com/StanStanley512/MediaQueryResponsive/blob/master/castle.JPG?raw=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
 @media screen and (max-width: 768px) {
   #landing{
    height: 100%;
    background-image: url('https://github.com/StanStanley512/MediaQueryResponsive/blob/master/castle.JPG?raw=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
 @media screen and (max-width: 640px) {
   #landing{
    height: 100%;
    background-image: url('https://github.com/StanStanley512/MediaQueryResponsive/blob/master/castle.JPG?raw=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
